ServiceFactory.Description/Unit Tests/SampleData/DescriptionModel/AsmxService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://service1.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://service1.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://service1.org/">
      <s:element name="NoInputWithReturn">
        <s:complexType />
      </s:element>
      <s:element name="NoInputWithReturnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="NoInputWithReturnResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InputWithNoReturn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data1" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="data2" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InputWithNoReturnResponse">
        <s:complexType />
      </s:element>
      <s:element name="NoInputWithNoReturn">
        <s:complexType />
      </s:element>
      <s:element name="NoInputWithNoReturnResponse">
        <s:complexType />
      </s:element>
      <s:element name="InputMessageWithOutputMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:RequestMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="RequestMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Data1" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Data2" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="InputMessageWithOutputMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InputMessageWithOutputMessageResult" type="tns:ResponseMessage" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResponseMessage">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Response" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="NoInputWithReturnSoapIn">
    <wsdl:part name="parameters" element="tns:NoInputWithReturn" />
  </wsdl:message>
  <wsdl:message name="NoInputWithReturnSoapOut">
    <wsdl:part name="parameters" element="tns:NoInputWithReturnResponse" />
  </wsdl:message>
  <wsdl:message name="InputWithNoReturnSoapIn">
    <wsdl:part name="parameters" element="tns:InputWithNoReturn" />
  </wsdl:message>
  <wsdl:message name="InputWithNoReturnSoapOut">
    <wsdl:part name="parameters" element="tns:InputWithNoReturnResponse" />
  </wsdl:message>
  <wsdl:message name="NoInputWithNoReturnSoapIn">
    <wsdl:part name="parameters" element="tns:NoInputWithNoReturn" />
  </wsdl:message>
  <wsdl:message name="NoInputWithNoReturnSoapOut">
    <wsdl:part name="parameters" element="tns:NoInputWithNoReturnResponse" />
  </wsdl:message>
  <wsdl:message name="InputMessageWithOutputMessageSoapIn">
    <wsdl:part name="parameters" element="tns:InputMessageWithOutputMessage" />
  </wsdl:message>
  <wsdl:message name="InputMessageWithOutputMessageSoapOut">
    <wsdl:part name="parameters" element="tns:InputMessageWithOutputMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="NoInputWithReturn">
      <wsdl:input message="tns:NoInputWithReturnSoapIn" />
      <wsdl:output message="tns:NoInputWithReturnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InputWithNoReturn">
      <wsdl:input message="tns:InputWithNoReturnSoapIn" />
      <wsdl:output message="tns:InputWithNoReturnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="NoInputWithNoReturn">
      <wsdl:input message="tns:NoInputWithNoReturnSoapIn" />
      <wsdl:output message="tns:NoInputWithNoReturnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InputMessageWithOutputMessage">
      <wsdl:input message="tns:InputMessageWithOutputMessageSoapIn" />
      <wsdl:output message="tns:InputMessageWithOutputMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NoInputWithReturn">
      <soap:operation soapAction="http://service1.org/NoInputWithReturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InputWithNoReturn">
      <soap:operation soapAction="http://service1.org/InputWithNoReturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NoInputWithNoReturn">
      <soap:operation soapAction="http://service1.org/NoInputWithNoReturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InputMessageWithOutputMessage">
      <soap:operation soapAction="http://service1.org/InputMessageWithOutputMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="NoInputWithReturn">
      <soap12:operation soapAction="http://service1.org/NoInputWithReturn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InputWithNoReturn">
      <soap12:operation soapAction="http://service1.org/InputWithNoReturn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NoInputWithNoReturn">
      <soap12:operation soapAction="http://service1.org/NoInputWithNoReturn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InputMessageWithOutputMessage">
      <soap12:operation soapAction="http://service1.org/InputMessageWithOutputMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:63728/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:63728/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>