ServiceFactory.Description/Unit Tests/SampleData/DescriptionModel/SimpleSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="SimpleSchema" targetNamespace="http://tempuri.org/SimpleSchema.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/SimpleSchema.xsd" xmlns:mstns="http://tempuri.org/SimpleSchema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="element1">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Data1" type="xs:string" />
				<xs:element name="Data2" type="xs:int" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>