Modeling.CodeGeneration.Strategies/Unit Tests/SampleData/BaseTypes.xsd

<?xml version="1.0"?>
<s:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://terraserver-usa.com/LandmarkServer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" elementFormDefault="qualified" targetNamespace="http://terraserver-usa.com/LandmarkServer/" xmlns:s="http://www.w3.org/2001/XMLSchema">
  <s:element name="GetLandmarkTypes">
    <s:complexType />
  </s:element>
  <s:element name="GetLandmarkTypesResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="GetLandmarkTypesResult" type="tns:ArrayOfLandmarkType" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:complexType name="ArrayOfLandmarkType">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="unbounded" name="LandmarkType" type="tns:LandmarkType" />
    </s:sequence>
  </s:complexType>
  <s:complexType name="LandmarkType">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="ShapeType" type="tns:ShapeType" />
      <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
    </s:sequence>
  </s:complexType>
  <s:simpleType name="ShapeType">
    <s:restriction base="s:string">
      <s:enumeration value="Null" />
      <s:enumeration value="Point" />
      <s:enumeration value="PolyLine" />
      <s:enumeration value="Polygon" />
    </s:restriction>
  </s:simpleType>
  <s:element name="CountOfLandmarkPointsByRect">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="1" maxOccurs="1" name="rect" type="tns:BoundingRect" />
        <s:element minOccurs="0" maxOccurs="1" name="types" type="tns:ArrayOfString" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:complexType name="BoundingRect">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="UpperLeft" type="tns:LonLatPt" />
      <s:element minOccurs="1" maxOccurs="1" name="LowerRight" type="tns:LonLatPt" />
    </s:sequence>
  </s:complexType>
  <s:complexType name="LonLatPt">
    <s:sequence>
      <s:element minOccurs="1" maxOccurs="1" name="Lon" type="s:double" />
      <s:element minOccurs="1" maxOccurs="1" name="Lat" type="s:double" />
    </s:sequence>
  </s:complexType>
  <s:complexType name="ArrayOfString">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
    </s:sequence>
  </s:complexType>
  <s:element name="CountOfLandmarkPointsByRectResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="1" maxOccurs="1" name="CountOfLandmarkPointsByRectResult" type="s:int" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="GetLandmarkPointsByRect">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="1" maxOccurs="1" name="rect" type="tns:BoundingRect" />
        <s:element minOccurs="0" maxOccurs="1" name="types" type="tns:ArrayOfString" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="GetLandmarkPointsByRectResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="0" maxOccurs="1" name="GetLandmarkPointsByRectResult" type="tns:ArrayOfLandmarkPoint" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:complexType name="ArrayOfLandmarkPoint">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="unbounded" name="LandmarkPoint" nillable="true" type="tns:LandmarkPoint" />
    </s:sequence>
  </s:complexType>
  <s:complexType name="LandmarkPoint">
    <s:complexContent mixed="false">
      <s:extension base="tns:LandmarkBase">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Point" type="tns:LonLatPt" />
        </s:sequence>
      </s:extension>
    </s:complexContent>
  </s:complexType>
  <s:complexType name="LandmarkBase">
    <s:sequence>
      <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="FipsCode" type="s:string" />
      <s:element minOccurs="0" maxOccurs="1" name="TypeDescription" type="s:string" />
      <s:element minOccurs="1" maxOccurs="1" name="ShapeType" type="tns:ShapeType" />
    </s:sequence>
  </s:complexType>
  <s:element name="CountOfLandmarkShapesByRect">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="1" maxOccurs="1" name="rect" type="tns:BoundingRect" />
        <s:element minOccurs="0" maxOccurs="1" name="types" type="tns:ArrayOfString" />
      </s:sequence>
    </s:complexType>
  </s:element>
  <s:element name="CountOfLandmarkShapesByRectResponse">
    <s:complexType>
      <s:sequence>
        <s:element minOccurs="1" maxOccurs="1" name="CountOfLandmarkShapesByRectResult" type="s:int" />
      </s:sequence>
    </s:complexType>
  </s:element>
</s:schema>